## gitignore to exclude stupid files ##

# Windows (Visual Studio)
*.suo
*.user
*.user
[Dd]ebug/
[Rr]elease/

# Build Files
[Bb]in/
[Oo]bj/

# Don't want to commit DLLs every time. Please remember to build external libs.
*.dll
*.obj
*.pdb
