## gitignore to exclude stupid files ##

# Windows (Visual Studio)
*.suo
*.user
*.user
[Dd]ebug/
[Rr]elease/

# Build Files
[Bb]in/
[Oo]bj/

# Don't want to commit DLLs every time. Please remember to build external libs.
*.dll
*.obj
*.pdb

# Unity Files
# Don't ever commit anything in Library. metadata will ruin your day.
# Most of these files get regenerated on opening scripts, so there's no reason to repo them.
unity/Library/
unity/IndigoPrison.sln
unity/IndigoPrison-csharp.sln
unity/Temp/
unity/Assembly*.csproj
unity/unity-csharp.sln
unity/unity.sln

# No Unity, I don't want you to make meta files for my build folders. Go burn in a fire.
*bin.meta
*obj.meta