## gitignore to exclude stupid files ##

# Windows (Visual Studio)
*.suo
*.user
*.user
[Dd]ebug/
[Rr]elease/

# Build Files
[Bb]in/
[Oo]bj/

# Don't want to commit DLLs every time. Please remember to build external libs.
*.dll
*.obj
*.pdb

# Unity Files
unity/IndigoPrison-csharp.sln
unity/IndigoPrison.sln
unity/Library/assetDatabase3
unity/Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
*/Library/metadata/
unity/Temp/

# No Unity, I don't want you to make meta files for my build folders. Go burn in a fire.
*bin.meta
*obj.meta